[submodule "src/lib/stdlib"]
	path = src/lib/stdlib
	url = https://github.com/ThunderFly-aerospace/Openscad_stdlib
[submodule "src/lib/NopSCADlib"]
	path = src/lib/NopSCADlib
	url = git@github.com:nophead/NopSCADlib.git
[submodule "utils/PrintManagementTools"]
	path = utils/PrintManagementTools
	url = git@github.com:roman-dvorak/PrintManagementTools.git
