[submodule "src/lib/stdlib"]
	path = src/lib/stdlib
	url = https://github.com/ThunderFly-aerospace/Openscad_stdlib
[submodule "utils/ddprint"]
	path = utils/ddprint
	url = git@github.com:ErwinRieger/ddprint.git
